/* =========================================================
   RESULTS
   ========================================================= */

.results {

    min-height: 80svh;

    position: relative;

    display: flex;

    align-items: center;

    color: white;

    overflow: hidden;

}

.results-background {

    position: absolute;

    inset: 0;

    background:
        url("/public/images/planta-agua-aerea.jpg")
        center center / cover no-repeat;

    transform: scale(1.03);

}
.results-overlay {

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            90deg,
            rgba(8,12,8,.75),
            rgba(8,12,8,.35)
        );

}

.results .section-container {

    position: relative;

    z-index: 2;

}

.results h2 {

    font-size: clamp(
        42px,
        5vw,
        76px
    );

    line-height: 1;

    letter-spacing: -.055em;

    font-weight: 500;

    max-width: 900px;

    margin:
        30px
        0
        80px;

}

.statistics {

    display: grid;

    grid-template-columns:
        repeat(
            3,
            1fr
        );

    gap: 50px;

    max-width: 1000px;

}

.statistics > div {

    border-top:
        1px solid
        rgba(
            255,
            255,
            255,
            .25
        );

    padding-top: 20px;

}

.statistics strong {

    display: block;

    font-size: clamp(
        45px,
        6vw,
        80px
    );

    letter-spacing: -.05em;

    font-weight: 500;

}

.statistics span {

    display: block;

    font-size: 12px;

    color:
        rgba(
            255,
            255,
            255,
            .75
        );

    margin-top: 8px;

}

@media (max-width: 900px) {

    .statistics {

        grid-template-columns: 1fr;

        gap: 30px;

    }

    .results h2 {

        margin-bottom: 50px;

    }

}